@font-face {
	font-family: "OldLondon";
	src: url("fonts/OldLondon.ttf");
}
@font-face {
	font-family: "Cardinal";
	src: url("fonts/Cardinal.ttf");
}
body
{
	font-family: Cardinal;
	font-size: 2rem;
	font-weight: 300;
	color: black;
	background-color: black;
}
#container
{
	background: url("files/img/wood.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	min-width: 512px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#page
{
	width: 72rem;
	padding: 4rem;
	background: url("files/img/paper.png") repeat-y center center;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}
#banner
{
	width: 35em;
	padding: 2.3em;
	background: url("files/img/scroll.png") no-repeat;
	background-origin: border-box;
	background-position: center;
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
}
h1
{
	font-family: OldLondon;
	font-size: 16rem;
	font-weight: 300;
	text-align: center;
	margin-top: -0.1em;
	margin-bottom: -0.1em;
}
h2
{
	border-bottom: black solid 2px;
	width: 7em;
	margin: 0;
}
h3
{
	font-family: OldLondon;
	font-size: 3rem;
	font-weight: 300;
	margin-bottom: -2em;
	text-align: center;
}
.btn {
  background-color: #cf2a1f;
  width: 28rem;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}


.btn:hover {
	transition: 0.3s;
	background-color: #911e16;
}